<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogo.mapper.MessageMapper">

	<insert id="insertMessage">
		insert into message values(messageseq.nextval, #{content}, sysdate, #{writer}, #{messageRoom})
	</insert>
	
	<select id="getList" resultType="com.gogo.vo.MessageVO">
		select * from message where messageRoom = #{messageRoom}
	</select>

</mapper>