<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogo.mapper.PaymentMapper">

	<insert id="insertPayment">
		insert into payment (paymentNo, reservationNo, regDate, paymentMethod, impUid) 
		values (paymentSeq.nextval, #{reservationNo}, sysdate, #{paymentMethod}, #{impUid})
	</insert>
	
	<select id="selectOne" resultType="com.gogo.vo.PaymentVO">
		select * from payment where impUid = #{impUid}
	</select>

</mapper>