<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogo.mapper.StayMapper">

	<select id="stayList" resultType="com.gogo.vo.StayVO">
		SELECT subq3.stayName,
			subq3.stayType,
			subq3.stayLoc || '/' || SUBSTR(subq3.stayAdress, INSTR(subq3.stayAdress, ' ') + 1,
			INSTR(subq3.stayAdress, ' ', INSTR(subq3.stayAdress, ' ') + 1) -
			INSTR(subq3.stayAdress, ' ') - 1) AS stayLoc,
			subq3.stdPerson,
			subq3.overPerson,
			subq3.badge,
			subq3.mainpic1,
			subq3.mainpic2,
			subq3.minPrice as minPrice,
			subq3.maxPrice as maxPrice
		FROM (
			SELECT subq2.stayNo, subq2.stayName,
			subq2.stayType,
			subq2.stayLoc,
			subq2.stayAdress,
			Min(subq2.stdPerson) OVER (PARTITION BY subq2.stayName) AS stdPerson,
			Max(subq2.overPerson) OVER (PARTITION BY subq2.stayName) AS
			overPerson,
			subq2.price,
			subq2.badge,
			subq2.mainpic1,
			subq2.mainpic2,
			MAX(subq2.price) OVER (PARTITION BY subq2.stayName) AS maxPrice,
			MIN(subq2.price) OVER (PARTITION BY subq2.stayName) AS minPrice,
			ROW_NUMBER() OVER (PARTITION BY subq2.stayName ORDER BY subq2.stayName) AS rn
		FROM (
				SELECT stay.stayNo, stayName,
				stayType,
				stayLoc,
				stayAdress,
				stdPerson,
				overPerson,
				price,
				badge,
				mainpic1,
				mainpic2
				FROM stay
				LEFT JOIN room ON stay.stayNo = room.stayNo
				) subq2
			) subq3
		WHERE subq3.rn = 1
	</select>

</mapper>